.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
}

.loader div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-top-color: #7600dc;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}
.loader div:nth-child(2) {
  border: 5px solid transparent;
  border-bottom-color: #7600dc;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 5px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 5px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 5px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
