.header {
  height: 3.5rem;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  /* background-color: #ebebeb; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}
.light {
}
.dark {
  background-color: red;
  /* background-color: #1b202d; */
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.navbar a {
  flex-grow: 1;
  font-size: 1rem;
  color: black;
  padding: 5px;
}
.logo {
  color: #7600dc;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn {
  background: #7600dc;
  color: #fff;
  padding: 0 1rem;
  display: block;
}

@media (max-width: 400px) {
  .navbar {
    gap: 2px;
  }
  .logo {
    font-size: 1rem;
  }
}
