.header {
  height: 60px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  background-color: #ebebeb;
}
.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  flex-grow: 1;
  font-size: 1rem;
  color: black;
  padding: 5px;
}
