.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem 0;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 0.5rem;
}

.image {
  width: 35%;
  /* object-fit: cover; */
  border-radius: 3px;
}
.details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.primaryBtn {
  background-color: #000;
  color: #fff;
}
.secondaryBtn {
  color: #000;
}
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #000;
  display: block;
  /* min-width: 170px;
  width: 100%; */
}
@media (max-width: 600) {
  .resultContainer {
    width: 80%;
  }
  /* button {
    width: 100%;
  } */
  .image {
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .image {
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .btns {
    justify-content: center;
    margin-top: 1rem;
  }
  button {
    width: 100%;
  }
}
