.resultContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1rem 0;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 1rem;
}

.image {
  max-width: 8rem;
  border-radius: 3px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.primaryBtn {
  background-color: #000;
  color: #fff;
}
.secondaryBtn {
  color: #000;
}
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #000;
  display: block;
}
