* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.app {
  height: 100vh;
}
.dark {
  background-color: #1b202d;
  color: white;
}
@media (max-width: 600) {
  html {
    font-size: 14px;
  }
}
/* @media (max-width: 400px) {
  html {
    font-size: 13px;
  }
} */
